.top-bar-content {
  background-color: @gray-dark;
  color: #fff;
  padding: 2px 0 5px;
}

.wp-custom-header {
  > img {
    .center-block();
  }
}

.content-area {

}

.widget-area {

  section {
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
}

.entry-footer {
  margin-top: 20px;
}

