.site-footer {
  margin-top: 5rem;
}

.site-info {
  padding-top: 2.5rem;
  padding-bottom: 3.5rem;
  color: #fff;
  background-color: @gray-dark;
  padding-left: 75px;
  padding-right: 75px;
}
.site-contact {
  .list-unstyled {
    > li {
      margin-bottom: 5px;
    }
  }
}
.copyright-info,
.dev-info {
  background-color: darken(@gray-darker, 5%);
}
.copyright-info {
  padding-top: 1rem;
  color: #fff;
}
.dev-info {
  padding: 1.2rem 0 2rem;
  color: @gray-light;
  > a {
    color: @brand-success;
  }
}
